.header {
    height: 100px;
    color: whitesmoke;
    font-size: 24px;

    &.row {
        margin: 0 !important;
    }
    
    .title {
        text-align: center;
        padding: 35px 0 35px 140px;
        text-transform: uppercase;
        word-spacing: 5px;
    }

    .bi-person-circle {
        color: whitesmoke;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu {
        left: -35px !important;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;

        .bi {
            color: dimgray;
            font-size: 1.5rem;
        }
    }
}