<div class="bg-light">
    <div class="text-center navigation">
        <button type="button" class="btn btn-light p-3" (click)="navigateToUrl('home')">
            <i class="bi bi-house-door-fill"></i>
        </button>
        <button type="button" class="btn btn-light p-3" (click)="navigateToUrl('details')">
            <i class="bi bi-people-fill"></i>
        </button>
        <button type="button" class="btn btn-light p-3" (click)="navigateToUrl('edit')">
            <i class="bi bi-pencil-fill"></i>
        </button>
    </div>
</div>