.employee-details {
    font-size: 16px;
    max-height: 450px;
    overflow-y: scroll;

    .search-area {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        .search-box {
            display: flex;
            width: 300px;
            .bi-search {
                font-size: 1rem;
            }
        }
    }

    a:hover {
        cursor: pointer;
    }
}